:root{
    /* Variable of Depo-Theme */
    /* https://github.com/retorica-puzzle */
    
    /* primary color */
    --primary-light: #fff8e1;
    --primary-dark: #3e2723;

    /* Font Familys */
    --font-roboto: 'Roboto', sans-serif;
    --font-oxygen: 'Oxygen', sans-serif;

    /* Font Sizes */
    --size-primary: 14px;
    --size-secondry: 12px;
}